<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="footer-clean">
    <footer>
        <ul class="nav">
            <li><a href="#home">Home</a></li>
            <li><a href="#sitemap">SiteMap</a></li>
            <li><a href="#smileyplus">SmileyShop plus</a></li>  
            <li><a href="#media">Press and Media</a></li>
        </ul>
                <hr style="width:40%;text-align:right;margin-right:0; background-color: blue">
    
        <div class="container">
            <div>
                <div class="column">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Legacy</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h3>Careers</h3>
                    <ul>
                        <li><a href="#">Job openings</a></li>
                        <li><a href="#">Employee success</a></li>
                        <li><a href="#">Benefits</a></li>
                    </ul>
                </div>
                <div class="row">
                    <h3>Smiley Shop</h3>
                    <ul>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">App developers</a></li>
                        <li><a href="#">Investors</a></li>
                        <li><a href="#">Affiliate program</a></li>
                        <li><a href="#">Partner program</a></li>
                        <li><a href="#">Smiley Shop events</a></li>
                    </ul>
                </div>       
        <div>

        <div>
            <h2 class="hde">Contact US</h2>
        </div>
        <div class="rows">
            <div>
                <input type="text" id="fname" name="firstname" placeholder="Enter Email">
                <textarea id="subject" name="subject" placeholder="Message" style="height:170px"></textarea>
                <input type="submit" value="Submit">
            </div>
        </div>
    </div>

                <div class="col-lg-5 item social">
                    <div class="social-container">
                        <a href="https://www.facebook.com" class="fa fa-facebook"  target="_blank"></a>
                        <a href="https://www.twitter.com" class="fa fa-twitter" target="_blank"></a>
                        <a href="https://www.linkedin.com" class="fa fa-linkedin" target="_blank"></a>
                        <a href="https://www.instagram.com/" class="fa fa-instagram" target="_blank"></a>
                    </div>
                    <p class="copyright">Smiley Shop © 2021</p>
                </div>
            </div>
        </div>
    </footer>
</div>