
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<form>
		<div class="container">
			<h1>Sign in</h1>
			<div class="social-container">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-google-plus"></a>
                <a href="#" class="fa fa-linkedin "></a>
			</div>
		
			<span>or use your account</span>
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			
			<button onclick="onSubmit()">Sign In</button>
			<div>
			<a href="#">Forgot your password?</a> 
			<label>
				<input type="checkbox" checked="checked" name="remember" class="butn"> Remember me
			 </label>
		</div>
	</div>
	</form>

	





